{
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 1000,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "css",
    "svelteBracketNewLine": false,
    "tailwindFunctions": ["clsx", "cva"]
}
